@{
    ViewBag.Title = "Home";
}

<style>
    .gi-2x{font-size: 2em;}
    .gi-3x{font-size: 3em;}
    .gi-4x{font-size: 4em;}
    .gi-5x{font-size: 5em;}
    .gi-6x{font-size: 6em;}
    .gi-7x{font-size: 7em;}
    .gi-8x{font-size: 8em;}
    .gi-9x{font-size: 9em;}
    .gi-10x{font-size: 10em;}

    .gi-holder{text-align:center;}
    
    html,
    body {
      height: 100%;
      background-color: #333;
    }

    body {
      color: #000;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    }
    .btn {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
      background: rgba(0,0,0,0);
      color: #000;
    }
    .btn:hover {
      color: #fff;
      background: #096c17;
      transform: scale(1.1);
    }
    .page {
      height: 100%;
      width: 100%;
    }
    #content1 {
      background: #333 url('/Content/homepage1.JPG') no-repeat center center fixed;
      padding: 15px;
    }
    #content1 h1 {
        margin-top: 20%;
    }
    #content1 h1, #content1 p {
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    }
    #content2 {
      height: auto;
      padding: 15px;
      background: #fff;
    }
    #content3 {
      padding: 15px;
      background: #333 url('/Content/homepage2.jpg') no-repeat center center fixed;
    }
    #content4 {
      background: #666;
      text-align: left;
      height: 95%;
      padding: 15px;
      background: #333 url('/Content/homepage3.jpg') no-repeat center center fixed;
    }
    #footer {
      height: 5%;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
            @Html.ActionLink("Princeton Ridge", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                <li>@Html.ActionLink("Members Area", "Index", "Home")</li>
                <li>@Html.ActionLink("News", "Index", "Home")</li>
                <li>@Html.ActionLink("Realtors", "Index", "Home")</li>
            </ul>
        </div>
    </div>
</nav>
<!-- Start content -->
<!-- First panel -->
<a name="home"></a>
<div class="container page" id="content1">
    <h1 style="color: #fff">Princeton Ridge Homeowners Association</h1>
    <hr style="width: 45%">
    <p style="color: #fff">Where the best neighbors live!</p>
</div>
<a name="home"></a>
<div class="container page" id="content2">
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 gi-holder">
                <p><span class="glyphicon glyphicon-home gi-10x"></span></p>
                <h2>Learn more</h2>
                <p>Princeton Ridge has lots to offer to its residents and the surrounding community. Scroll down to read more.</p>
                <p><a class="btn btn-default" href="#feature-start" role="button">Read more &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 gi-holder">
                <p><span class="glyphicon glyphicon-dashboard gi-10x"></span></p>
                <h2>Already a resident?</h2>
                <p>You can find the Resident Directory, Yard of the Month, and important ACC documents in the new Members Area.</p>
                <p><a class="btn btn-default" href="/members/yom" role="button">Take me there &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p><span class="glyphicon glyphicon-fast-backward gi-10x"></span></p>
                <h2>Are you a realtor or looking to move in?</h2>
                <p>Take a look at our realtor's page which contains important documents such as sample assesment forms and contact information.</p>
                <p><a class="btn btn-default" href="http://72.167.232.185/index2.htm" role="button">Visit old site &raquo;</a></p>
            </div>
        </div><!-- /.row -->
    </div>
</div>
<a name="home"></a>
<div class="container page" id="content3">
    <br><br><br><br><br>
    <p>Test content</p>
</div>
<a name="home"></a>
<div class="container page" id="content4">
    <h2>Contact</h2>
    <div class="container">
        <div class="row col-md-9">

        </div>
        <div class="row col-md-3">
            <a class="btn btn-default" href="/"><span class="mif-github"></span> GitHub</a>
            <br>
            <a class="btn btn-default" href="/"><span class="mif-linkedin"></span> LinkedIn</a>
            <br>
            <a class="btn btn-default" href="/"><span class="mif-fire"></span> freeCodeCamp</a>
        </div>
    </div>
</div>
<div class="container page" id="footer">
    <p>Copyright 2016 Joshua Zenn - Made with Bootstrap</p>
</div>